<div class="wechat">
  <div class="panel">
    <div class="title">
      <span>客服一</span><span class="icon-up"></span>
    </div>
    <ul>
      <li><img src="assets/images/wxcode@2x.png" alt=""></li>
      <li>微信号：xiaohuomedia_01</li>
    </ul>
  </div>
  <div class="panel">
    <div class="title">
      <span>客服二</span><span></span>
    </div>
    <ul class="hide">
      <li><img src="assets/images/wxcode@2x.png" alt=""></li>
      <li>微信号：xiaohuomedia_01</li>
    </ul>
  </div>
  <div class="panel">
    <div class="title">
      <span>客服三</span><span></span>
    </div>
    <ul class="hide">
      <li><img src="assets/images/wxcode@2x.png" alt=""></li>
      <li>微信号：xiaohuomedia_01</li>
    </ul>
  </div>
</div>
