@charset "utf-8";
$base-font-size: 50px !default; //变量的值可以根据自己需求定义
@function pxTorem($px) { //$px为需要转换的字号
  @return $px / $base-font-size * 1rem;
}

$font_size12: 12px;
$font_size13: 13px;
$font_size14: 14px;
$font_size15: 15px;
$font_size16: 16px;
$font_size18: 18px;
$font_size20: 20px;
$font_size24: 24px;

$fff: #fff;
$gray3: #24282C;
$gray6: #221F32;
$gray9: #9FA4AC;
$borderColor: #EAEDF2;


* {
  margin: 0px;
  padding: 0px;
}

input, button, select, textarea { /*去掉表单元素点击时的背景色*/
  outline: none
}

input, button {
  font-family: "Arial", "微软雅黑";
  border: none;
}

ul, ol li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /*去掉a标签点击时的背景*/
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

img {
  vertical-align: bottom; //去除底部间隙
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Arial", "微软雅黑";
  color: $gray3;
  position: relative;
  background: #F4F4F4;
}

.mask{
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000000;
  position: absolute;
  z-index: 19;
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.single-line-omitted {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multiple-omitted {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #D3D7DD; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #D3D7DD;opacity:1;
}

input:-ms-input-placeholder{
  color: #D3D7DD;opacity:1;
}

input::-webkit-input-placeholder{
  color: #D3D7DD;opacity:1;
}

*:focus {outline: none;}
*.nohighlight:focus { outline:none; }


