<router-outlet></router-outlet>

<ul class="footer">
  <li [routerLink]="['/index']" routerLinkActive="current">
    <span class="icon sy"></span>
    <span>首页</span>
  </li>
  <li [routerLink]="['/task']" routerLinkActive="current">
    <span class="icon frw"></span>
    <span>发任务</span>
  </li>
  <li [routerLink]="['/forward']" routerLinkActive="current">
    <span class="icon zf"></span>
    <span>转发</span>
  </li>
  <li [routerLink]="['/user']" routerLinkActive="current">
    <span class="icon wd"></span>
    <span>我的</span>
  </li>
</ul>
