<div class="invitation-code">
  <ul class="my-code">
    <li><span>我的邀请人</span><span>MAJUN(66666666)</span></li>
    <li><span>我的邀请码</span><span>12345678</span></li>
  </ul>
  <div class="list-title"><span>我的会员</span></div>
  <div class="member-list">
    <div class="member-panel">
      <img src="../images/666.png" alt="">
      <div>
        <span class="name">美杜莎</span>
        <span class="time">07-21 15:25</span>
      </div>
    </div>
    <div class="member-panel">
      <img src="../images/666.png" alt="">
      <div>
        <span class="name">美杜莎</span>
        <span class="time">07-21 15:25</span>
      </div>
    </div>
    <div class="member-panel">
      <img src="../images/666.png" alt="">
      <div>
        <span class="name">美杜莎</span>
        <span class="time">07-21 15:25</span>
      </div>
    </div>
    <div class="member-panel">
      <img src="../images/666.png" alt="">
      <div>
        <span class="name">美杜莎</span>
        <span class="time">07-21 15:25</span>
      </div>
    </div>
  </div>

</div>
